<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Proof General"
            id="ed.inf.proofgeneral">
      </category>
      <view
            name="Prover's Palette: Maple"
            icon="icons/maple-view-icon.png"
            category="ed.inf.proofgeneral"
            class="org.cognetics.proverspalette.maple.gui.MainMapleViewPart"
            id="org.cognetics.proverspalette.maple.gui.MainMapleViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ed.inf.proofgeneral.views.PGPerspective">
<!--
         <view
               ratio="0.5"
               relative="ed.inf.proofgeneral.views.LatestOutput"
               relationship="right"
               id="org.cognetics.proverspalette.maple.gui.MainMapleViewPart">
         </view>
--> <!-- normally run with qepcad so just stack with it, rather than relative 
org.cognetics.proverspalette.qepcad.gui.MainQepcadViewPart 
-->
         <view
               relative="ed.inf.proofgeneral.views.LatestOutput"
               relationship="stack"
               id="org.cognetics.proverspalette.maple.gui.MainMapleViewPart">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="ProofGeneral with Prover&apos;s Palette Maple Widget">
         <property
               name="appName"
               value="ProofGeneral with Prover&apos;s Palette Maple Widget">
         </property>
      </product>
   </extension>

</plugin>
